.products-center {
    max-width: 1440px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

@media(min-width: 768px) {
    .products-center {
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 1024px) {
    .products-center {
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
}